<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>系统管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <form class="layui-form" action="" lay-filter="">
        <div class="layui-hide">
            <input type="hidden" name="id" class="layui-input" th:value="${sysUser?.id}">
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label" >用户账号</label>
            <div class="layui-input-inline">
                <input type="text" name="account" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input"
                       th:value="${sysUser?.account}">
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label" >用户名称</label>
            <div class="layui-input-inline" >
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"
                       th:value="${sysUser?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"
                       th:value="${sysUser?.password}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <!-- 隐藏提交按钮，在父层中调用 -->
                <button id="updateBtn" class="layui-btn" lay-filter="formVerify" lay-submit style="display: none">保存</button>
            </div>
        </div>
    </form>
</div>
</body>

<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/js/manage/sysUser/update.js}"></script>
</html>