<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner.yuzl.manage.mapper.SysPermissionMapper">

    <!--总量查询-->
    <select id="countTotal" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM T_SYS_PERMISSION
        <where>
            <if test="code != null and code != ''">
                AND INSTR(code, #{code}) > 0
            </if>
            <if test="name != null and name != ''">
                AND INSTR(name, #{name}) > 0
            </if>
            AND deleted = 0
        </where>
    </select>

    <!--查询权限列表-->
    <select id="getPermissions" resultType="SysPermissionPO">
        SELECT id, code, name, parent_id, level
        FROM T_SYS_PERMISSION
        <where>
            <if test="code != null and code != ''">
                AND INSTR(code, #{code}) > 0
            </if>
            <if test="name != null and name != ''">
                AND INSTR(name, #{name}) > 0
            </if>
            AND deleted = 0
        </where>
        <if test="beginIndex != null and pageSize != null">
            LIMIT #{beginIndex}, #{pageSize}
        </if>
    </select>

    <!--根据角色id查询权限-->
    <select id="getPermissionsByRoleId" parameterType="java.lang.Long" resultType="SysPermissionPO">
        SELECT p.id, p.code, p.name, p.parent_id, p.level
        FROM T_SYS_PERMISSION p
        LEFT JOIN T_SYS_ROLE_PERMISSION rp
        ON p.id = rp.permission_id
        WHERE rp.role_id = #{roleId}
        AND p.deleted = 0
    </select>

    <!--根据id查询权限-->
    <select id="getPermissionById" parameterType="java.lang.Long" resultType="SysPermissionPO">
        SELECT id, code, name, parent_id, level
        FROM T_SYS_PERMISSION
        WHERE id = #{id}
    </select>

    <!--根据等级查询权限-->
    <select id="getPermissionsByLevel" parameterType="java.lang.Integer" resultType="SysPermissionPO">
        SELECT id, code, name, parent_id, level
        FROM T_SYS_PERMISSION
        WHERE level = #{level}
        AND deleted = 0
    </select>

    <!--插入-->
    <insert id="insert" parameterType="SysPermissionPO">
        INSERT INTO T_SYS_PERMISSION
        (id, code, name, parent_id, level, create_time)
        VALUES
        (null, #{code}, #{name}, #{parentId}, #{level}, #{createTime})
    </insert>

    <!--更新-->
    <update id="update" parameterType="SysPermissionPO">
        UPDATE T_SYS_PERMISSION
        SET code = #{code}, name = #{name}, modify_time = #{modifyTime}
        WHERE id = #{id}
    </update>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        UPDATE T_SYS_PERMISSION
        SET deleted = 1
        WHERE id = #{id}
    </update>
</mapper>