<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner.yuzl.manage.mapper.SysRoleMapper">

    <resultMap id="rolePermissionMap" type="SysRolePO">
        <id property="id" column="id"></id>
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
        <result property="deleted" column="deleted"></result>
        <collection property="permissions" column="id" select="owner.yuzl.manage.mapper.SysPermissionMapper.getPermissionsByRoleId"></collection>
        <collection property="menus" column="id" select="owner.yuzl.manage.mapper.SysMenuMapper.getMenusByRoleId"></collection>
    </resultMap>

    <!--总量查询-->
    <select id="countTotal" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM t_sys_role
        <where>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="name != null and name != ''">
                AND INSTR(name, #{name}) > 0
            </if>
            AND deleted = 0
        </where>
    </select>

    <!--根据账号查询角色-->
    <select id="getRoleByUserId" parameterType="java.lang.Long" resultMap="rolePermissionMap">
        SELECT r.id, r.code, r.name
        FROM t_sys_role r
        LEFT JOIN t_sys_user_role ur
        ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <!--查询角色列表-->
    <select id="getRolesList" parameterType="java.util.Map" resultMap="rolePermissionMap">
        SELECT id , code, name
        FROM t_sys_role
        <where>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="name != null and name != ''">
                AND INSTR(name, #{name}) > 0
            </if>
            AND deleted = 0
        </where>
        <if test="beginIndex != null and pageSize != null">
            LIMIT #{beginIndex}, #{pageSize}
        </if>
    </select>

    <!--code查询角色列表-->
    <select id="getRolesByCode" resultType="SysRolePO">
        SELECT id, code, name
        FROM t_sys_role
        WHERE deleted = 0
        <if test="code != null and code != ''">
            AND code = #{code}
        </if>
    </select>

    <!--根据id查询权限-->
    <select id="getRoleById" parameterType="java.lang.Long" resultType="SysRolePO">
        SELECT id, code, name
        FROM t_sys_role
        WHERE id = #{id}
    </select>

    <!--插入-->
    <insert id="insert" parameterType="SysRolePO">
        INSERT INTO t_sys_role
        (id, code, name, create_time)
        VALUES
        (null, #{code}, #{name}, #{createTime})
    </insert>

    <!--更新-->
    <update id="update" parameterType="SysRolePO">
        UPDATE t_sys_role
        SET code = #{code}, name = #{name}, modify_time = #{modifyTime}
        WHERE id = #{id}
    </update>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        UPDATE t_sys_role
        SET deleted = 1
        WHERE id = #{id}
    </update>
</mapper>