<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner.yuzl.manage.mapper.SysRoleMapper">

    <resultMap id="rolePermissionMap" type="SysRolePO">
        <id property="id" column="id"></id>
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
        <result property="deleted" column="deleted"></result>
        <collection property="permissions" column="code" select="owner.yuzl.manage.mapper.SysPermissionMapper.getPermissionsByRoleCode"></collection>
    </resultMap>

    <!--根据账号查询角色-->
    <select id="getRoleByUserAccount" parameterType="java.lang.String" resultMap="rolePermissionMap">
        SELECT r.id , r.code, r.name
        FROM T_SYS_ROLE r
        LEFT JOIN T_SYS_USER_ROLE ur
        ON r.code = ur.role_code
        WHERE ur.user_account = #{userAccount}
    </select>


</mapper>