<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner.yuzl.manage.mapper.SysRoleMenuMapper">

<!--  根据角色删除当前角色菜单对应的关系  -->
    <delete id="deleteRelativeByRoleId" >
        DELETE FROM T_SYS_ROLE_MENU
        WHERE role_id = #{roleId}
    </delete>

    <!--  根据菜单删除当前角色菜单对应的关系  -->
    <delete id="deleteRelativeByMenuIds" parameterType="java.util.List">
        DELETE FROM T_SYS_ROLE_MENU
        WHERE role_id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

<!-- 添加角色菜单关系 -->
    <insert id="createRelative">
        INSERT INTO T_SYS_ROLE_MENU
        (id, role_id, menu_id)
        VALUES
        <foreach collection="menuIds" item="item" index="index" separator=",">
            (null, #{roleId}, #{item})
        </foreach>
    </insert>
</mapper>